In [ ]:
#print 0 to 20 by using range

In [1]:
for i in range(21):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
#print range 10 to 20

In [1]:
for i in range(10,20):
    print(i, end=" ")

10 11 12 13 14 15 16 17 18 19

In [ ]:
# print number of items in the list by using 'len'

In [1]:
List2=[10, 20, 14, 55, 43, 87, 76]
List1=len(List2)
print(List2)
print("Number of item in the list2: ")
print(List1)

[10, 20, 14, 55, 43, 87, 76]
Number of item in the list2:
7

In [ ]:
# Name horzondal and vertical

In [1]:
def Name_horizontal(name):
    print(name)

def Name_vertical(name):
    for char in name:
        print(char)

name = "Artificial Intalligence"
Name_horizontal(name)
Name_vertical(name)

Artificial Intalligence
A
r
t
i
f
i
c
i
a
l

I
n
t
a
l
l
i
g
e
n
c
e

In [1]:
lines = ["-your Name-", "-Your Age-", "-Your Proffession-"]

for line in lines:
    print(f"{line}")

-your Name-
-Your Age-
-Your Proffession-

In [ ]:
# print this mixered datatype using tuples

In [1]:
my_tuple = (1, 'welcome', 2, 'Hope')
for i in range(len(my_tuple)):
    if isinstance(my_tuple[i], str):
        print(f"'{my_tuple[i]}'", end=", " if i < len(my_tuple) - 1 else "")
    else:
        print(my_tuple[i], end=", " if i < len(my_tuple) - 1 else "")

1, 'welcome', 2, 'Hope'

In [1]:
tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'hope')
combined_tuple = (tuple1, tuple2)
print(combined_tuple)

((0, 1, 2, 3), ('python', 'hope'))

In [ ]:
#print odd numbers in the list

In [1]:
numbers = [20, 10, 16, 19, 25, 1, 276, 188]
for num in numbers:
    if num % 2 != 0:  
        print(num,"is odd")

19 is odd
25 is odd
1 is odd

In [ ]:
#print even numbers in the list

In [1]:
numbers = [20, 10, 16, 19, 25, 1, 276, 188]
for num in numbers:
    if num % 2 != 1:  
        print(num,"is even")

20 is even
10 is even
16 is even
276 is even
188 is even